[submodule "multibuild"]
	path = multibuild
	url = https://github.com/sanurielf/multibuild.git
[submodule "kvxopt"]
	path = kvxopt
	url = https://github.com/sanurielf/kvxopt
[submodule "gfortran-install"]
	path = gfortran-install
	url = https://github.com/MacPython/gfortran-install.git
